# {{reportTitle}}

{{#tags}}
## {{name}}
    {{#commits}}
* {{#extensions.pullRequest}}[PR #{{id}}]({{link}}) {{> jira}}{{/extensions.pullRequest}}{{^extensions.pullRequest}}{{> jira}} [{{shortHash}}]({{commitLink}}){{/extensions.pullRequest}}
        {{#children}}
    * {{> jira}} [{{shortHash}}]({{commitLink}})
        {{/children}}
    {{/commits}}

{{/tags}}